<table class='myTable'>
  <caption>
    <div class="tableCaption">
      <div>Actual Incomes</div>
      <button class="buttonAdd" onclick="frugalisApp.route('actualIncomesForm', -1)">Add</button>
    </div>
  </caption>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Type</th>
      <th>Account</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody id="actualIncomesTable">
    
  </tbody>
</table>
<div class="tableButtons">
  <button class="buttonBack" onclick="frugalisApp.route('dashboard')">Back</button>
</div>