@media only screen and (min-width: 1024px) {
  /*.home-stories {
    padding-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .home-stories article {
    width: 23%;
  }*/

  .home-stories {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}