<table class='myTable'>
  <caption>
    <div class="tableCaption">
      <div>Budgeting Periods</div>
      <button class="buttonAdd" onclick="frugalisApp.route('budgetingPeriodsForm')">Add</button>
    </div>
  </caption>
  <thead>
    <tr>
      <th>From</th>
      <th>Until</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody id="budgetingPeriodsTable">
    
  </tbody>
</table>
<div class="tableButtons">
  <button class="buttonBack" onclick="frugalisApp.route('dashboard')">Back</button>
</div>