<h1 class="alignCenter myFormCaption">Budgeting Period</h1>
<form id="myForm" action="javascript:frugalisApp.processBudgetingPeriodForm('submit')">
  <fieldset>
    <div>
      <label>
        <span>Start Date</span>
        <input 
          type="date"
          class="date"
          name="startDate"
          id="startDate"
          required
        >
      </label>
      <label>
        <span>End Date</span>
        <input 
          type="date"
          class="date"
          name="endDate"
          id="endDate"
          required
        >
      </label>
    </div>
  </fieldset>
  <input type="hidden" id="id" name="id">
  <div class="formButtons">
    <button type="button" class="buttonBack" onclick="frugalisApp.processBudgetingPeriodForm('back')">Back</button>
    <input class="buttonSave" type="submit" value="Save">
    <button type="button" class="buttonDelete" onclick="frugalisApp.processBudgetingPeriodForm('delete')">Delete</button>
  </div>
</form>