<h1 class="alignCenter myFormCaption">Expense Type</h1>
<form id="myForm" action="javascript:frugalisApp.processExpenseTypeForm()">
  <fieldset>
    <div>
      <label>
        <span>Expense Type Name</span>
        <input 
          type="text"
          name="name"
          id="name"
          required
        >
      </label>
    </div>
  </fieldset>
  <input type="hidden" id="id" name="id">
  <div class="formButtons">
    <button type="button" class="buttonBack" onclick="frugalisApp.route('expenseTypesTable')">Back</button>
    <input class="buttonSave" type="submit" value="Save">
    <button type="button" class="buttonDelete" onclick="frugalisApp.deleteExpenseTypeForm()">Delete</button>
  </div>
</form>