* { margin: 0; box-sizing: border-box; } 

body { 
  font-size: 16px; 
  line-height: 32px;
  font-family: sans-serif;
}

.fontColor1 {
  color: #ffffff;
}

.fontColor2 {
  color: #000000;
}

.backColor1 {
  background-color: #4F0112;
}

.backColor2 {
  background-color: #ffffff;
}

.header {
  padding: 0 0.5em 0 0.5em;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.header a, .orbLink {
  text-decoration: none;
}

.title {
  font-size: 2.5em;
  font-style: italic;
  margin: 0;
  padding: 10px 0 0 5px;
}

.subtitle {
  font-size: 1.2em;
  margin: 0;
  padding: 5px 0 5px 50px;
}

.alignRight {
  text-align: right;
}

.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.hidden {
  display: none !important;
}

#hamburgerBtn {
  font-size: 2em;
  border: none;
  outline: none;
}

.sideNav {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: width 0.5s;
  padding-top: 30px;
}

.sideNav a {
  padding: 4px 4px 4px 16px;
  text-decoration: none;
  font-size: 1.2em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sideNav a:hover {
  color: #f1f1f1;
}

.sideNav .closeNavBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

header, main, footer, nav {
  max-width: 40rem;
  margin: 0 auto;
}

main {
  padding: 0 5px 0 5px;
}

/*Prevent jumping vertical scroll bar*/
html {
  margin-left: calc(100vw - 100%);
}

#welcomeMsg {
  font-size: 2.3em;
  font-style: italic;
  font-weight: bold;
  margin-top: 0.4em;
  text-align: center;
}

#activeBudgetPeriod {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 0.4em;
  text-align: center;
}

#budgetOrb {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 9em;
  width: 9em;
  border-radius: 50%;
  margin: 0.5em auto;
}

.dailyBudgetMsg {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.3em;
  color: white;
}

.dailyBudgetAmt {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: white;
}

#targetBudgetMsg, #warningMsg {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  line-height: 1.5em;
}

#homeScreenAlerts {
  margin: 0.5em;
  padding: 0 0.3em 0 0.3em;
  border: 1px solid black;
}

#homeScreenAlerts {
  line-height: 1.5em;
}

#homeScreenAlerts p {
  font-weight: bold;
  font-size: 1.1em;
}

#homeButtonsContainer {
  padding: 0 0.3em 0 0.3em;
}

.button1 {
  display: block;
  color: white;
  background-color: #4F0112;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0.3em;
  height: 2.7em;
  border-radius: 0.5em;
}

.buttonBack, .buttonInfo {
  display: block;
  color: white;
  background-color: blue;
  width: 6em;
  height: 2.7em;
  font-size: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 1em;
}

.buttonAdd {
  display: block;
  color: white;
  background-color: #FF0000;
  width: 6em;
  height: 2.7em;
  font-size: 0.65em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 1em;
}

.buttonDelete {
  display: block;
  color: white;
  background-color: #FF0000;
  width: 6em;
  height: 2.7em;
  font-size: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 1em;
}

.buttonSave {
  display: block;
  color: black;
  background-color: #00FF00;
  width: 6em;
  height: 2.7em;
  font-size: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 1em;
}

.tableButtons, .formButtons {
  display: flex;
  justify-content: center;
  margin: 0.3em auto;
}

.tableCaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.3em auto;
}

.myTable {
  width: 100%;
}

.myTable caption {
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
}

.myTable tr:nth-child(even) {
    background-color: #eee;
}

.myTable tr:nth-child(odd) {
    background-color: #fff;
}

.myTable th {
    color: white;
    background-color: black;
}

.myTable, .myTable th, .myTable td {
    border: 1px solid black;
    border-collapse: collapse;
}

.myTable th, .myTable td {
  padding: 5px;
  text-align: center;
}

/*Forms*/

.myFormCaption {
  font-size: 2.5em;
  font-style: italic;
  font-weight: bold;
  margin: 1em 0 0 0;
}

form {
  margin: 0.3em auto;
}

fieldset {
  border: none;
  margin-top: 0;
  padding-top: 0;
}

fieldset > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

label {
  display: block;
  padding: 0 5px 0 5px;
}

label span {
  display: block;
  font-size: 1.1em;
  color: #000000;
  padding-top: 0.6em;
  padding-bottom: 0.1em;
}

.formFieldHint {
  padding: 0;
  margin: 0;
  font-size: 0.7em;
}

label input, label select,
label textarea {
  color: #000000;
  height: 2.2em;
  padding: .5em .3em .5em 2em;
  margin-left: 0;
  border: solid 1px #b0aaa0;
  font-size: .9em;
  background-image: url(../images/ico_empty.png);
  background-repeat: no-repeat;
  background-position: 4px 4px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

label textarea {
  height: auto;
}

input:focus, select:focus, textarea:focus {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5) inset;
}

input:required, select:required, textarea:required {
  background-image: url(../images/ico_required.png);
}

input:focus:invalid, select:focus:invalid, textarea:focus:invalid {
  background-image: url(../images/ico_invalid.png);
}

input:required:valid, select:required:valid, textarea:required:valid {
  background-color: #fff;
  background-image: url(../images/ico_valid.png);
}

.date {
  width: 15em;
}

.ffWidth {
  width: 15em; 
}

.dialogContainer {
  background: rgba(0, 0, 0, 0.57);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
  transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
}

.dialogContainerVisible {
  opacity: 1;
  pointer-events: auto;
}

.dialog {
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.24), 0 14px 28px rgba(0, 0, 0, 0.48);
  min-width: 280px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) translateY(30px);
          transform: translate(-50%, -50%) translateY(30px);
  -webkit-transition: -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
  transition: -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
  transition: transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s;
  transition: transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s, -webkit-transform 0.333s cubic-bezier(0, 0, 0.21, 1) 0.05s; 
}

.dialog > div {
  padding-left: 24px;
  padding-right: 24px;
}

.dialogTitle {
  padding-top: 20px;
  font-size: 1.25em;
}

.dialogBody {
  padding-top: 20px;
  padding-bottom: 24px; 
}