@media only screen and (min-width: 1024px) {
  .title h1 {
    font-size: 5em;
  }
  
  .title h3 {
    font-size: 3em;
  }

  nav ul li a {
    font-size: 1.2em;
  }

  .main-image {
    width: 100%;
  }

  .main-image img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .main-image-small {
    display: none;
  }

  .main-image-medium {
    display: none;
  }

  .main-image-large {
    display: block;
  }

  .current-weather {
    width: 100%;
  }
  
}