@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Grand+Hotel);

* { box-sizing: border-box;}

h1, h2 {
  background-color: #FFF;
  color: #248159;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-weight: normal;
  font-size: 1.5rem;
}

h3 {
  font-weight: bolder;
  font-size: 1.3rem;
  background-color: #FFF;
  color: #67001F;
}

p {
  font-weight: normal;
  font-size: 1rem;
  background-color: #FFF;
  color: #001C10;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

header, nav, main, footer { 
  margin: auto;
  max-width: 1200px;
}

.logo {
  margin: 0;
}

.logo-img-150 {
  display: block;
}

.logo-img-300 {
  display: none;
}

.logo-img-512 {
  display: none;
}

.title-div {
  position: absolute;
  top: 0;
  margin-left: 150px;
  height: 111px;
}

.title {
  width: 100%;
  padding-top: : 0.5em;
  padding-left: 0.1em;
  margin-bottom: 0;
  font-size: 1.5em;
}

.subtitle {
  margin-top: 0.2em;
  font-family: 'Grand Hotel', cursive;
  font-size: 1.5em;
}

nav {
  margin-top: 5px;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #240008;
}

nav ul li a {
  display: block;
  color: #BC8234;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1em;
}
nav ul li.active a {
  color: white;
}
nav ul li a:hover {
  background-color: #450015;
}

.main-image {
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.main-image img {
  width: 100%;
  height: auto;
}

.main-image-small {
  display: block;
}

.main-image-medium {
  display: none;
}

.main-image-large {
  display: none;
}

.current-weather {
  width: 100%;
}

.center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.current-weather h3 {
  height: 1.3em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.clouds-status {
  margin: 0;
  height: 100px;
  font-size: 1.2em;
}

.temperature {
  height: 1.7em;
  font-size: 1.2em;
}

.precipitation {
  height: 1.7em;
  font-size: 1.2em;
}

.wind-speed {
  height: 1.7em;
  font-size: 1.2em;
}

.forecast {
  padding: 0.5em;
  display: none;
}

.forecast h3 {
  border-style: solid solid none solid;
  text-align: center;
  border-width: 1px;
  font-size: 1.2em;
  margin: 0;
  padding: 0.5em;
  background-color: silver;
}

.forecast table {
  border: 1px solid solid none solid;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.forecast table th, .forecast table td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 4px;
  background-color: gainsboro;
}

article {
  border: 1px solid;
  padding: 5px;
}

article h3 {
  text-align: center;
  font-size: 1.5em;
  margin-left: 5px;
  margin-right: 5px;
}

.town-article {
  font-size: 1em;
}

.article-image {
  width: 100%;
  margin: 0;
}

.article-image img {  
  width: 100%;
  height: auto;
  margin 0;
}

footer {
  margin: 1% auto;
  padding: 0 0.5% 0 0.5%;
  text-align: center;
  font-size: 1.1em;
}
footer aside {
  background-color: turquoise;
  padding: 1%;
}
footer aside span {
  font-weight: bold;
}
footer>p {
  margin-top: 0;
  padding: 1%;
  background-color: steelblue;
  color: white;
}