<h1 class="alignCenter myFormCaption">Planned Income</h1>
<form id="myForm" action="javascript:frugalisApp.processPlannedIncomeForm()">
  <fieldset>
    <div>
      <label>
        <span>Income Type</span>
        <input 
          type="text"
          class="ffWidth"
          name="incomeType"
          id="incomeType"
          list="incomeTypes"
          required
        >
        <datalist id="incomeTypes">
        </datalist>
      </label>
      <label>
        <span>Amount</span>
        <input 
          type="number"
          class="ffWidth"
          name="amount"
          id="amount"
          step="0.01"
          required
        >
      </label>
      <label>
        <span>Deadline Date</span>
        <input 
          type="date"
          class="date"
          name="deadlineDate"
          id="deadlineDate"
          required
        >
      </label>
      <label>
        <span>Comments</span>
        <input 
          type="text"
          class="ffWidth"
          name="comments"
          id="comments"
        >
      </label>
    </div>
  </fieldset>
  <input type="hidden" id="id" name="id">
  <div class="formButtons">
    <button type="button" class="buttonBack" onclick="frugalisApp.route('plannedIncomesTable')">Back</button>
    <input class="buttonSave" type="submit" value="Save">
    <button type="button" class="buttonDelete" onclick="frugalisApp.deletePlannedIncomeForm()">Delete</button>
  </div>
</form>