<h1 class="alignCenter myFormCaption">Planned Expense</h1>
<form id="myForm" action="javascript:frugalisApp.processPlannedExpenseForm()">
  <fieldset>
    <div>
      <label>
        <span>Expense Type</span>
        <input 
          type="text"
          class="ffWidth"
          name="expenseType"
          id="expenseType"
          list="expenseTypes"
          required
        >
        <datalist id="expenseTypes">
        </datalist>
      </label>
      <label>
        <span>Amount</span>
        <input 
          type="number"
          class="ffWidth"
          name="amount"
          id="amount"
          step="0.01"
          required
        >
      </label>
      <label>
        <span>Deadline Date</span>
        <input 
          type="date"
          class="date"
          name="deadlineDate"
          id="deadlineDate"
          required
        >
      </label>
      <label>
        <span>Comments</span>
        <input 
          type="text"
          class="ffWidth"
          name="comments"
          id="comments"
        >
      </label>
    </div>
  </fieldset>
  <input type="hidden" id="id" name="id">
  <div class="formButtons">
    <button class="buttonBack" onclick="frugalisApp.route('plannedExpensesTable')">Back</button>
    <input class="buttonSave" type="submit" value="Save">
    <button class="buttonDelete" onclick="frugalisApp.deletePlannedExpenseForm()">Delete</button>
  </div>
</form>