<h1 class="alignCenter myFormCaption">Expense Type</h1>
<form id="myForm" action="javascript:frugalisApp.processActualExpenseForm()">
  <fieldset>
    <div>
      <label>
        <span>Expense Type</span>
        <input 
          type="text"
          class="ffWidth"
          name="expenseType"
          id="expenseType"
          list="expenseTypes"
          required
        >
        <datalist id="expenseTypes">
        </datalist>
      </label>
      <label>
        <span>Account</span>
        <input 
          type="text"
          class="ffWidth"
          name="account"
          id="account"
          list="accounts"
          required
        >
         <datalist id="accounts">
        </datalist>
      </label>
      <label>
        <span>Amount</span>
        <input 
          type="number"
          class="ffWidth"
          name="amount"
          id="amount"
          step="0.01"
          required
        >
      </label>
      <label>
        <span>Date</span>
        <input 
          type="date"
          class="date"
          name="date"
          id="date"
          required
        >
      </label>
      <label>
        <span>Comments</span>
        <input 
          type="text"
          class="ffWidth"
          name="comments"
          id="comments"
        >
      </label>
    </div>
  </fieldset>
  <input type="hidden" id="id" name="id">
  <div class="formButtons">
    <button class="buttonBack" onclick="frugalisApp.route('actualExpensesTable')">Back</button>
    <input class="buttonSave" type="submit" value="Save">
    <button class="buttonDelete" onclick="frugalisApp.deleteActualExpenseForm()">Delete</button>
  </div>
</form>