<div id="welcomeMsg"></div>
<div id="activeBudgetPeriod"></div>
<a class="orbLink" href="javascript:frugalisApp.route('budgetReport')">
  <div id="budgetOrb"></div>
</a>
<div id="targetBudgetMsg"></div>
<div id="warningMsg"></div>
<div id="homeScreenAlerts"></div>
<div id="homeButtonsContainer">
  <button id="enterIncomeBtn" class="button1">Enter Income</button>
  <button id="enterExpenseBtn" class="button1">Enter Expense</button>
  <button id="planIncomeBtn" class="button1">Plan Income</button>
  <button id="planExpensesBtn" class="button1">Plan Expenses</button>
  <button id="budgetReportBtn" class="button1">Budget Report</button>
</div>